 .inputs {
     .wra {
         .form1 {
             margin-top: 63px;
             display: flex;
             justify-content: space-between;
         }
         .form2 {
             justify-content: space-between;
             display: flex;
             .small {
                 margin-top: 78px;
             }
         }
         .form3 {
             margin-top: 35px;
             display: flex;
             justify-content: space-between;

         }
         .form4 {
             margin-top: 35px;
         }


     }
 }


 .content_model {
     display: flex;
     margin: 0 auto;
     .wrap_twosec {
         flex-direction: column;
         display: flex;
         margin: 0 auto;
         h3 {
             margin-top: 74px;
         }
         a {
             margin: 85px 0;
         }
         .section_beard {
             margin-top: 50px;
             justify-content: space-between;
             align-items: top;
             display: flex;

             .cont_beard {
                 float: left;

             }
         }
     }

     .serv_up {
         margin-top: 170px;
     }
     .serv_but {
         margin-top: 60px;
     }

     .section_services {
         justify-content: space-between;
         display: flex;
         .cont_services {
             align-items: center;
             display: flex;


         }
     }
 }

 footer {
     margin: 0 auto;
     font-family: "PT Sans - Narrow";
     font-size: 18px;

     .foot_wrap {
         justify-content: space-between;
         align-items: flex-start;
         display: flex;
         margin: 0 auto;
         .footer_cont {
             margin: 53px 0;
             justify-content: space-between;
             
             flex-direction: column;
             display: flex;
             .st{
                       
                        margin-top: 15px;
                    }
         }
         p {
             margin-top: 15px;
         }
         .cont_img {
             justify-content: space-between;
             display: flex;
             margin-top: 15px;
         }
     }
 }
