    //variables
    @black: #000000;
    @white: #f8f5f2;
    @grey_black: #292929;
    @grey_backgruund: #3f3f3f;
    @grey_late: #ebe4de;
    @brown: #826550;
    @border: #e5ddd5;
    @after: #826550; //цвета для блоков
    @grey1: #404040;
    @grey2: #4e4e4e;
    @grey3: #353535;

    .flex_col {
        flex-direction: column;
        display: flex;
    }

    .flex_row {
        flex-direction: row;
        display: flex;
    }


    header,
    .points,
    .news,
    .reviews,
    footer {
        width: 1200px;


    }

    .wrap {
        width: 960px;


    }


    header {

        background-image: url(/img/back.png);
        .top_menu {
            position: relative;
            width: 100%;
            height: 72px;
            display: flex;
            background-color: @black;
            justify-content: flex-start;
            align-items: center;
            li {
                margin-left: 64px;
                list-style-type: none;
                a {
                    position: relative;
                    color: @white;
                    font-family: "PT Sans - Narrow Bold";
                    font-size: 18px;
                    text-decoration: none;
                }
            }
            li:first-child {
                margin-left: 0;
            }
            li:hover::after {
                margin-top: 23px;
                position: absolute;
                display: block;
                content: "";
                height: 1px;
                width: 90px;
                background-color: #826550;
            }
            .exet {
                margin-left: 200px;
            }
            .exet::before {
                margin-left: -40px;
                position: absolute;
                margin-right: 10px;
                display: inline-block;
                display: block;
                content: '';
                width: 16px;
                height: 16px;
                background-image: url(/img/login.png);
            }
        }
        .top_menu::after {
            margin-left: -120px;
            content: "";
            position: absolute;
            display: block;
            width: 120px;
            height: 70px;
            background-color: @black;
        }
        .top_menu::before {
            margin-left: 960px;
            content: "";
            position: absolute;
            display: block;
            width: 120px;
            height: 70px;
            background-color: @black;
        }
        .footer_cont_img {
            display: flex;
            .img_background {
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: column;
                float: left;
                display: flex;
                height: 159px;
                width: 320px;
                color: @white;
            }
            strong {
                position: relative;
                margin-left: 40px;
                font-family: "PT Sans - Narrow Bold";
                font-size: 72px;
                .star {
                    position: absolute;
                    margin-top: -60px;
                    margin-left: 200px;
                }
            }
            p {

                margin-left: 40px;
                font-family: "PT Sans - Narrow";
                font-size: 20px;
            }
            .left {
                color: @black;
                background-color: @white;
                strong {
                    font-weight: 800;
                    margin-left: 10px;
                    text-indent: 0;
                    font-size: 42px;
                }
            }
            .center {
                background-color: @grey1;
            }
            .right {
                background-color: @grey2;
            }

        }
    }

    .points {
        background-color: @grey3;
        justify-content: space-between;
        flex-direction: column;
        display: flex; //    Верхние пункты поинтса
        .points_cont_img {
            display: flex;
            .img_background {
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: column;
                float: left;
                display: flex;
                height: 159px;
                width: 320px;
                color: @white;
            }


            strong {
                position: relative;
                margin-left: 40px;
                font-family: "PT Sans - Narrow Bold";
                font-size: 72px;
                .star {
                    position: absolute;
                    margin-top: -60px;
                    margin-left: 260px;
                }
            }
            p {

                margin-left: 40px;
                font-family: "PT Sans - Narrow";
                font-size: 20px;
            }

            .left {
                color: @black;
                background-color: @white;
                strong {
                    font-weight: 800;
                    margin-left: 10px;
                    text-indent: 0;
                    font-size: 42px;
                }
            }
            .center {
                background-color: @grey1;
            }
            .right {
                background-color: @grey3;
            }
            .grey_text {
                color: #d6d6d6;
            }

        } //    Нижний блок пунктов
        .block_points {
            justify-content: space-around;
            display: flex;
            .contauner_points {
                margin-top: 80px;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                display: flex;
                color: @white;
                img {
                    margin-top: 34px;
                    width: 94px;
                    height: 94px;
                }
                .big_text {
                    margin-top: 34px;
                    font-size: 30px;

                }
                .smal_text {
                    text-align: center;
                    margin-top: 22px;
                    font-size: 20px;
                }
            }
            .wing {
                width: 100%;
                margin-top: 39px;
            }
        }
    }

    .flex_row {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .flex-col {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    .news {
        .wrap {
            .header {
                margin-top: 61px;
                width: 960px;
                .flex_row;
                h2 {
                    color: @black;
                    font-size: 40px;
                }
                .littleButton {
                    width: 160px;
                    height: 50px;
                    border: 1px solid black;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    a {

                        font-size: 18px;
                        text-decoration: none;
                        color: @black;
                    }
                }
            }

            .news-contDatanews {
                width: 100%;

                margin-top: 61px;
                margin-bottom: 46px;
                border-bottom: 1px solid @border;
                .flex_row;
                .dataNews {
                    .flex_row;
                    align-items: flex-start;
                    .dataNews-contNumber {
                        margin-top: 5px;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        display: flex;
                        background-image: url(/img/domik.png);
                        background-size: cover;
                        width: 50px;
                        height: 60px;
                        .contNumber-number {
                            color: @white;
                        }
                        .contNumber-text {
                            color: @white;
                        }
                    }
                    .dataNews-contText {
                        margin-left: 35px;
                        line-height: 27px;
                        width: 209px;
                        height: 100px;
                        margin-bottom: 100px;
                        font-size: 18px;
                    }
                }
            }

        }
    }

    .reviews {
        .wrap {
            .header {
                margin-top: 61px;
                width: 960px;
                .flex_row;
                h2 {
                    color: @black;
                    font-size: 40px;
                }
                .littleButton {
                    width: 160px;
                    height: 50px;
                    border: 1px solid @border;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    a {
                        font-size: 18px;
                        text-decoration: none;
                        color: @black;
                    }
                }
            }
            .blockReviews {
               
                .flex_row;
                margin-top: 47px;
                margin-bottom: 35px;
                 .contReviews-arrow {     
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    width: 50px;
                    height: 160px;
                    
                    border: 1px solid @border;
                    img {
                       
                        width: 12px;
                        height: 12px;
                    }
                         }
                .contReviews_reviews {
                    .flex_row;
                    justify-content: flex-start;
                    height: 160px;
                    width: 820px;
                    margin: 0 21px;
                    border: 1px solid @border;
                    img{
                        width: 249px;
                        height: 166px;
                    }
                    .reviews-text{
                        margin-left: 71px;
                        width: 417px;
                        .flex_col;
                        align-items: flex-start;
                    }
                  
                    .reviews-text {
                        width: 419px;
                        height: 85px;
                        .flex-col;
                        strong {
                            font-size: 24px;
                            font-weight: 400;
                        }
                        p {
                            font-size: 18px;
                        }
                    }
                }
                .slider{
                     margin-bottom: 46px;
                    img{
                       
                        width: 11px;
                        height: 11px;
                    }
                   
                }
            }
        }
    }
